body {
    margin: 0;
    padding: 0;
    font-family: "Gotham HTF";
}

.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.header-image {
    position: relative;
    background-image: linear-gradient(90deg, #ffffff 0%)
}

.header-title {
    font-size: 70px;
    letter-spacing: 7px;
    line-height: 32px;
    color: #000000;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-menu {
    position: absolute;
    left: 50px;
    top: 165px;
}

.header-menu ul {
    padding: 0;
    list-style-type: none;
}

.header-menu ul li {
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 47px;
    color: #000000;
}

.header-menu ul li a {
    text-decoration: none;
    color: #000000;
}

.content-one .image {
    width: 50%;
    height: 725px;
    position: relative;
}

.content-one .image .image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    line-height: 32px;
    color: #fefefe;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.content-one .image .image-title span {
    font-size: 20px;
}

.hashtag {
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 57px;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.wrap {
    margin: 43px 90px;
}

.wrap-left {}

.wrap-left .title {
    font-size: 17px;
    line-height: 57px;
    color: #000000;
    font-weight: bold;
}

.wrap-left input {
    height: 46px;
    width: 485px;
    border: 1px solid black;
}

.wrap-left label {
    background-color: black;
    color: white;
    padding: 16px;
    cursor: pointer;
}

.socials {
    margin-top: 28px;
}

.socials i {
    width: 30px;
    height: 30px;
}

.wrap-right {}

.wrap-right div {
    font-size: 17px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.wrap-right p {
    font-size: 12px;
    color: #000000;
    font-weight: 100;
}

.info {
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 19px;
    color: #000000;
    text-align: center;
    margin: 40px 0;
    justify-content: center;
}